---
---

<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8"/>
    <title>The Library</title>
    <link rel="stylesheet" href="../assets/style/default.css">
    <meta content="width=device-width, initial-scale=1" name="viewport">

  </head>

  <body>
    <span class="corner-nav-tc-title corner-nav noselect">Library:</span>
    <span class="corner-nav-tl corner-nav noselect">
          <a class="" href="../">A Real Space.</a>
    </span>
    <a href="../" class="active corner-nav-tr-x corner-nav noselect">&#x2715;</a>
    <span class="corner-nav-bl corner-nav noselect">
      <a class="" href="{{site.baseurl}}/info">Info</a> &nbsp;&nbsp;
      <a class="" href="{{site.baseurl}}/agenda">Agenda</a> &nbsp;&nbsp;
    </span>
    <span class="corner-nav-br corner-nav noselect">
      <a href="https://twitter.com/spinunit" target="_blank">Twitter &#8599;&#xFE0E;</a> &nbsp;&nbsp;
      <a href="https://www.instagram.com/spinunit" target="_blank">Instagram &#8599;&#xFE0E;</a>
    </span>

    <div class="default-content">

      <div class="page-container padding-top padding-bottom padding-side margin-top">
        <div class="col-50 col-float-middle col-content">
          <p class="content-title block extra-bold-weight text-align-left">Urban Research Library</p>
          <p class="content-description thin-weight text-align-left">The Urban Research Library is a physical library, occupying a quiet nook in the space, that is organised by theme. Come by to browse the shelves, read or borrow books, or simply engage in thoughtful discussion. Browse the collection below.</p>
        </div>
      </div>

      {% assign themes = site.library | map: 'theme' | join: ',' | join: ',' | split: ',' | uniq | reverse %}
      {% assign i = 0 %}

      <div class="page-container padding-top padding-bottom padding-side margin-top margin-bottom">

        {% for i in themes %}
          <div class="col-33 col-float-left col-content padding-side">
            <p class="project-title block bold-weight text-align-left">{{i}}</p>
            <p class="project-description block thin-weight text-align-left">
              {% assign items_in_library = site.library | where_exp: "item", "item.theme contains i" %}
              {% for item in items_in_library %}{% if item.theme == i %}
                {% if item.clickable %}
                  {% if item.borrowed %}
                    <a class="psuedo-list borrowed" href="{{post.url}}">{{item.title}} by {{item.author}} ({{item.year-published}})</a><br>
                  {% elsif item.external_url %}
                    <a class="psuedo-list" href="{{post.external_url}}">{{item.title}} by {{item.author}} ({{item.year-published}}) &#8599;&#xFE0E;</a><br>
                  {% else %}
                    <a class="psuedo-list" href="{{post.url}}">{{item.title}} by {{item.author}} ({{item.year-published}})</a><br>
                  {% endif %}
                {% else %}
                  {% if item.borrowed %}
                    <a class="psuedo-list-no-highlight borrowed" href="">{{item.title}} by {{item.author}} ({{item.year-published}})</a><br>
                  {% else %}
                    <a class="psuedo-list-no-highlight" href="">{{item.title}} by {{item.author}} ({{item.year-published}})</a><br>
                  {% endif %}
                {% endif %}
              {% endif %}{% endfor %}
            </p>
          </div>
        {% endfor %}

      </div>

      <div class="page-container padding-top padding-bottom padding-side margin-bottom">
        <div class="col-50 col-float-middle col-content">
          <p class="content-title block extra-bold-weight text-align-left">support</p>
          <p class="content-description thin-weight text-align-left">If you are interested in supporting this initiative or donating or lending books, get in touch. Also feel free to join <a href="https://lu.ma/a_real_space" target="_blank">A Real Space Community</a> for further updates on ways to support this initiative.</p> 
        </div>
      </div>



    </div>


  </body>

</html>